/omnet_project_files/out/
/omnet_project_files/.settings/
/omnet_project_files/results/
.idea
/network_generation/agent_configurations/
/analysis/results/
/agent_communication_generation_tool/results/ned_files/
